@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(53, 33, 3);
}
header {
    background-color: black;
    height: 80px;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}


p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img {
    height: 100px;
    width: 100px;

}

.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 3px;
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
    margin-top: 20px;
}

.icon {
    background-color: darkred;
    padding: 3px;
    border-radius: 5px;

}

#player-icon {
    margin-right: 10px;
}

#computer-icon {
    margin-left: 10px;
}

.new-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#new-game-btn {
    background-color: rgb(179, 121, 14);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 4px 3px 4px black;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}


#new-game-btn:hover {
    background-color: white;
    color: black;
}

.game-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}