@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(53, 33, 3);
}
header {
    background-color: black;
    height: 60px;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}

img {
    height: 100px;
    width: 100px;

}

#game-container {
    height: 400px;
    max-width: 600px;
    border: 3px solid rgb(52, 74, 82);
    background-color: rgb(187, 177, 177);
    border-radius: 7px;
    margin-left: calc(50% - 300px);

}

#new-game-btn {
    background-color: rgb(179, 121, 14);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 4px 3px 4px black;
    cursor: pointer;
    font-size: 15px;
}
#new-game-btn:hover {
    background-color: white;
    color: black;
}

.game-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;

}

.game-btn:hover {
    box-shadow: 3px 3px 3px black;
}

.score {
    margin-right: 20px;
}
